
body {
    /* background-image: url("https://images.unsplash.com/photo-1547626805-7160e859d86a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"); */
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #483e55;
  }
  /* Button 1 */
  #logoutForm {
    position: relative;
    font-size: 1.0em;
    padding: 0.3em 1.0em;
    margin: 8px;
    background-color: #BF0426;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    width: 110px;
    height: 30px;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  }
  
  #logoutForm::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  
  #logoutForm:hover::before {
    width: 1.0em;
    height: 1.0em;
  }
  
  #logoutForm:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }
/* Button 2 */
  #goToTraining {
    position: relative;
    font-size: 1.0em;
    padding: 0.3em 1.0em;
    margin: 8px;
    background-color: #73d800;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    width: 150px;
    height: 30px;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  }
  
  #goToTraining::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgb(11, 167, 206) 50%, rgb(4, 122, 191) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  
  #goToTraining:hover::before {
    width: 1.0em;
    height: 1.0em;
  }
  
  #goToTraining:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }





  #containerForm {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    cursor: default;
  }

  button {
    background-color: #006391;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  } 

  button:hover {
    background-color: #00f93a;
  } 

  button:disabled {
    background-color: gray;
    cursor: default;
  }

  #microphoneForm {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  #sentenceForm {
    width: 75%;
    height: 100px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: #ffffff;
    background-color: #006391;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  #sentenceForm ::-webkit-scrollbar {
    display: none;
  }

  #resultsForm {
    overflow: auto;
    height: 200px;
    width: 75%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    color: white;
    background-color: #006391;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  #outputForm {
    overflow: auto;
    height: 100px;
    width: 75%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: white;
    background-color: #006391;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  
  #outputForm::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  #outputForm::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }

  /* Card */
  .card {
    width: 110px;
    height: 30px;
    font-size: 70%;
    margin: 8px;
    position: relative;
    align-items: center;
    text-align: center;
    color: white;
    background: #006391;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  .card > span {
    color: #000000;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    display: block;
    text-align: center;
  }
  #pointCard {
    align-items: center;
  }


/*Level*/

.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.4rem;
  --stroke: #ffffff;
  --fill: #0aca13;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 3rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}